*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family:  sans-serif;
}
#header{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.header-top,.header-bot{
    height: 27px;
    margin: auto;
}
.header-bot a{
    display: block;
}
.header-top img{
    width: auto;
    height: 27px;
}
.header-bot img{
    width: auto;
    height: 27px;
}
.new{
    font-size: 16px;
    width: 1140px;
    margin-top: 10px;
}
.news{
    float: right;
    height: auto;
}
.new-title p{
    display: flex;
    align-items: center;
}
.new-title p img{
    width: 18px;
    height: 18px;
}
.new-title p img .sub{
    width: 26px;
    height: 18px;
}
.new-title p a{
    padding: 0 10px;
    text-decoration: none;
}

#banner{
    display: flex;
    margin-top: 10px;
    border: 1px solid rgb(161, 157, 157);
    align-items: center;
}
#search{
    background-color: #fff;
    border: 1px solid black;
    border-radius:  30px;
}
#search #search-text{
    border: none;
    outline: none;
    background: none;
}
#search .search-icon{
    background: none;
    border: none;
}

.logo a img{
    width: 60px;
    height: 60px;
}
.login a,.shop a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
#menu{
    background-color: wheat;
    
}
.submenu{
    height: 50px;
    list-style: none;
    margin-left: 205px;
}
.submenu li{
   
    display: inline-block;
    line-height: 50px;
    position: relative;
}
.submenu li a{
    padding: 0  25px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: block;
}

.submenu li a:hover{
    color:red;
}
.product{
    width: 250px;
    height: 350px;
    background-color:white;
    position: absolute;
    padding: 0;
    display: none;
    z-index: 1;
}
.product >li{
    position: relative;
    width: 100%;
}
.submenu >li:hover .product {

    display: block;
    text-decoration: none;
}
/* .product li a:hover{
    background-color: chartreuse;
} */
.products{
    position: absolute;
    top: 0;
    margin-left: 250px;
    background-color: aqua;
    width: 1000px;
    height: 400px;
    display: inline-block;
    display: none;
}
.products li{
   display: flex;
   float: left;
   padding: 0 25px;
}
.products li a{
    font-size: 14px;
    color: black;
    display: block;
    padding: 0 25px;
    display: flex;
}
.sub-product{
    position: absolute;
   width: 200px;
   padding: 0;
   top: 50px;
}
.sub-product li{
    display: flex;
    line-height: 25px;
}
.sub-product li a{
    font-size: 10px;
    padding: 0;
    display: flex;
}
.product >li:hover .products{
    display: block;
    
}
.wrapper-slide{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh; */
}
#slide{
   width: 1110px;  
   position: relative;
   margin: 0 auto;
}
.chervons{
    position: absolute;
    font-size: 40px;
    top: 50%;
    color: white;
    padding-left: 20px;
    z-index: 5;
}
.chervons i:last-child{
    position: relative;
    left: 980px;
}
.slide-img{
    width: 100%;
    height: 415px;
    position: relative;
    overflow: hidden;
}
.slide-img img{
    object-fit: cover;
   width: 100%;
   display: block;

}
.active-slide{
    display: flex;
    justify-content: center;
     position: absolute;
     left: 45%;

}
.active-slide span{
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 4px;
   
}

#flash-section{
    margin-top: 150px;
}

.time-title{
    display: flex;
    background-color: #fff7f7;
    position: relative;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.time-title a{
    text-decoration: none;
    display: block;
    background-color: #cab2b4;
    height: 31px;
    width: 87px;
  text-align: center;
  line-height: 31px;
  margin:  0 25px;
  border-radius: 8px;
  color: white;
}
.time-title a:hover{
    background-color: #eb395f;
    display: block;
}

.flashsale{
    background-image: url("img/anhnen.webp");
}
.flashsale-content{
    flex: 1;
}
.flashsale-new{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    align-items: center;
}
.flashsale-new a{
    text-decoration: none;
    width: 155px;
    height: 55px;
    line-height: 55px;
    color: white;
    background-color: #eb395f;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.flash-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.flash-home li{
  margin: 0 15px;
  width: 228px;
  background-color:white ;
}

.flash-item{
    display: flex;
   justify-content: center;
    align-items: center;
}
.flash-item a{

}

.flash-product a,p{
    text-decoration: none;
}

.flash-item a img{
    width: 150px;
    height: 150px;
}
.flash-product .flash-container{
    color: black;
    text-transform: uppercase;
}
.flash-name{
    font-size: 13px;
    
}




.flash-sub-item,.flash-combo-lable{
    display: none;
}




#container{
    background-color: #fcfcfc;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 50px;
}
.blog{
    width: 1140px;
    margin: auto;
}
#container::before{
    content: "";
    display: table; 
}
.blog-top h2{
   font-size: 34px;
    position: relative;
  text-align: center;
}
.blog-bottom{
    display: flex;
     overflow-y: hidden; 
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin: 0;
    padding-top: 40px;
}
.blog-item{
    width: calc(33.33333% - 21px);
    max-width: unset;
}
.blog-item a{
    display: block;
}
#price{
    margin-top: 20px;
    /* background-color:rgb(71 212 34) */
}
.price-list{
    padding-top: 20px;
}
.list-item h2{
    text-align: center;
    font-size: 38px;
}
.infor-list{
    list-style: none;
    min-height: 300px;
    /* background-color: orange; */
}
.wrapper-list{
    
}
.list-menu{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    list-style: none;
}
.list-menu li{
    /* padding: 15px 20px; */
   
    border: 2px solid #ccc;
    background: #fff;
    margin: 10px 20px;
    width: 200px;
    display: flex;
}
   

.list-menu li a {
   padding: 0 20px;
   text-decoration: none;
   width: 198px;
   

}
.new-list{
    width: 200px;
}
.sub-discount{
    font-size: 18px;
    display: flex;
    background-color: #da2a52;
    color:white;
     border-radius: 50%; 
     width:50px;
    height: 50px;
    line-height: 50px;
    justify-content: center; 
     margin-top: -150px;
    position: relative; 
}
 
.sub-item a{
   position: absolute;
    margin-left: 0px;
    margin-top: 25px;
    border: 1px solid black;
    background: red;
    color: white;
    height: 30px;
   
    line-height: 30px;
    display: none;
}
.list-menu >li:hover .sub-item a{
    display: block;
}
.combo{
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
   
   
}
.combo-lable{
    border-radius: 10px;
    background-color: #fedfe2;
    border: none;
    position: absolute;
  margin-top: 220px;
  width: 70px;
  height: 25px;
}
.product-infor{
    text-align: center;
    margin-top: 210px;
    width:202px ;
    margin-left: -194px;
    background-color: ;
}
.product-infor a{
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-top: 15px;
}
.product-name{
    margin: 8px;
    display: -webkit-box;
    max-width: 100%;
    max-height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.product-name a{
    font-size: 12px;
}
.product-price h3{
        font-size: 12px;
        text-decoration: line-through;
        color: #131110;
        margin: 4px 0;
}
.product-price span{
    font-size: 15px;
    color: red;

}
.product-infor-price{
    font-size: 14px;
    color: #d77373;
    margin-top: 4px;
}


.home-price{
    font-family: SVN-brandontext-regular,sans-serif;
    margin-top: 50px;
    border-top: 1px solid black;
}
.home-content{
    height: 150px;
}
.home-new{
    list-style: none;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
   margin-top: 50px;
}
.home-new li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-list{

}
.home-list img{
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 25px;
}
.home-list h3{
    font-size: 16px;
    line-height: 40px;

}
.home-list p{
    font-size: 13.5px;
    line-height: 20px;
}
.email-section{
    background-color: #fef5f7;
    padding: 40px 0 34px;
}
.email-content{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
}
.email-wrapper{

}
.email-wrapper h2{
    font-size: 34px;
}

.email-container{
    margin-right: 125px;
    max-width: 1000px;
}

.form-group{
    display: flex;
    max-width: 700px;
    border: 1px solid  white;
}
.form-group input{
    width: 450px;
    border: none;
    padding: 0 15px;
}
.input-group{
    display: flex;
}
.input-group button{
    height: 45px;
    max-width: 190px;
    width: 100%;
    color: white;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 15px;
}

.categores{

}

.categores-wrapper{
    display: block;
    box-sizing: border-box;
    width: 1150px;
    margin: 0 auto;
    padding: 24px 16px 0;
}
.categores p{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.categores-list{
    display: inline-table;
}
.categores-list li{
    width: 100%;
    max-width: 277px;
    display: inline-table;
    word-wrap: break-word;
}
.categores-list li a{
    text-decoration: none;
}
.categores-title{
    font: 14px/15px SVN-brandontext-bold,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: black;
}
.categores-content{
    margin-bottom: 20px;
}
.categores-content li{
    display: inline-block;
    word-wrap: break-word;
    width: auto;
    font: 13px/23px Lato-regular,sans-serif;
}
.categores-content li::after{
    content: ",";
    color: #7c8582;
}
.categores-content .categores-section::after{
    content: "";
    color: #7c8582;
}
.social{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.social-wrapper{
    clear: both;
    background: none;
    display: flex;
    height: 95px;
    justify-content: space-around;
    text-align: center;
    line-height: 95px;
}

.social-list i{
    font-size: 25px;
    margin: 0 7px;
}
.information-section{
    padding: 36px 0 40px;
}
.information-wrapper{
    display: flex;
    justify-content: center;
}

.information-menu,.information-payment,.information-app,.information-title{
    width: 20%;
}

.menu-title{
    font: 14px/15px SVN-brandontext-bold,sans-serif;
    margin: 0 0 12px;
    letter-spacing: 2px;
    color: #282828;
    text-transform: uppercase;
}
.menu-list{
    list-style: none;
}
.menu-list li{
    font: 14px/28px Lato-regular,sans-serif;
    color: #333;
    height: 30px;
}
.menu-list li a{
    text-decoration: none;
}

.payment-list{
    list-style: none;
    max-width: 100%;
    text-align: left;
    width: 60%;
    margin-left: -9px;
}
.payment-list li{
    width: 46px;
    display: inline-block;
    margin: 3px;
   
    overflow: hidden;
}

.payment-list li img{
    width: 40px;
    height: 30px;
}

.information-app{
    width: 15%;
}
.menu-app-content{
    font: 13px/21px Lato-regular,sans-serif;
    color: #333;
}
.menu-app-left{
    margin: 17px 0 0;
    display: flex;
}
.menu-app-left img{
    width: 90px;
    height: 90px;
}
.menu-app-right{
   margin-left: 15px;
   width: min-content;
    height: 90px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.menu-app-right li{
    list-style: none;
    margin-bottom: 8px;
}
.menu-app-right img{
    width: 120px;
    height: 40px;
}


.title-img img{
    width: 212px;
    height: 80px;
}

.footer{
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: #fff8fa;
    text-align: center;
    align-items: center;
}

.footer-list{
  
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    font: 12px/15px Lato-regular,sans-serif;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #a66378;
    line-height: 19px;
}




















